{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb-typescript", "eslint-config-prettier"],
  "rules": {
    "strict": ["error", "never"]
  }
}
