.appContainer {
  display: grid;
  grid-template-columns: 50px 1f;
  grid-template-rows: 50px 1fr;
}
.header {
  background-color: aqua;
}

.listOfMailboxes {
  background-color: red;
  grid-column: 1/1;
  grid-row: 2/2;
}
